/* Rajesh Ayyappanpillai - Module 3.2 Assignment  */
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Apply the font to the entire document */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Container styling */
#container {
    margin: 50px 100px;
}

/* Heading styles */
h1, h2, h3, h4 {
    background-color: #4F3674; /* Choose a background color */
    color: #FFFFFF; /* Choose a font color that contrasts well with the background */
    border: 1px solid #D6A800;
    padding: 10px;
}

/* Text alignment for headings */
h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: left;
    font-weight: 500;
    padding-top: 15px;
}

h3, h4 {
    text-align: left;
}

/* Paragraph styles */
p {
    font-weight: 400;
    line-height: 1.4em;
}

/* Address styles */
address {
    text-align: center;
}

/* Anchor styles */
a {
    color: #4F3674; /* Match the color scheme */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

a:visited {
    color: #7A57A0; /* Match the color scheme for visited links */
}
